*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:12px;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#d4a43b,#7baec7);
    color:#314D52;
}

.card{
    width:100%;
    max-width:420px;
    margin:10px auto;
    background:#fff;
    border-radius:24px;
    padding:18px 16px 12px;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    overflow:hidden;
}

.logo{
    text-align:center;
}

.logo img{
    width:90px;
    display:block;
    margin:0 auto 0px;
}

.brand{
    text-align:center;
    font-size:24px;
    font-weight:700;
    color:#314D52;
    line-height:1;
    margin-top:-18px;
}

.slogan{
    text-align:center;
    font-size:10px;
    color:#888;
    margin-top:-1px;
    margin-bottom:15px;
}

.tag{
    text-align:center;
    color:#314D52;
    margin-top:5px;
    margin-bottom:14px;
    font-size:10px;
}

.tabs{
    display:flex;
    border-bottom:1px solid #ddd;
    margin-bottom:12px;
}

.tab{
    flex:1;
    text-align:center;
    padding:10px;
    font-size:14px;
    font-weight:700;
    cursor:pointer;
}

.active{
    color:#d4a43b;
    border-bottom:3px solid #d4a43b;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:14px;
    margin:6px 0;
    font-size:14px;
    outline:none;
}

input:focus{
    border-color:#d4a43b;
}

.btn{
    display:block;
    width:100%;
    border:none;
    border-radius:14px;
    background:linear-gradient(90deg,#d4a43b,#7baec7);
    color:#fff;
    font-weight:700;
    padding:12px;
    margin-top:8px;
    font-size:14px;
    cursor:pointer;
}

.wa{
    display:block;
    width:100%;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#d4a43b,#7baec7);
    color:#fff;
    font-weight:700;
    text-decoration:none;
    text-align:center;
    padding:10px;
    font-size:12px;
    margin-top:0px;
}

.pkgtitle{
    text-align:center;
    font-weight:700;
    font-size:12px;
    margin:14px 0 8px;
}

.pricebox{
    padding:2px 0;
}

.line{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:4px 2px;
    border-bottom:1px solid #ececec;
    font-size:12px;
}

.line:last-child{
    border-bottom:none;
}

.footer{
    text-align:center;
    font-size:11px;
    color:#666;
    margin-top:15px;
    line-height:1;
}

.bottom{
    background:linear-gradient(90deg,#d4a43b,#7baec7);
    color:#fff;
    text-align:center;
    font-size:12px;
    padding:10px;
    margin:5px -16px -12px;
    border-radius:0 0 24px 24px;
}

.hidden{
    display:none;
}

/* =========================
   AREA IKLAN RESPONSIVE
   ========================= */

.ads-container{
    width:90%;
    max-width:420px;
    margin:0px auto 0;
    background:#ffffff;
    border-radius:20px;
    padding:12px 14px;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}


/* Judul Ads Space */

.ads-title{
    width:100%;
    text-align:center;
    font-size:7px;
    font-weight:500;
    color:#314D52;
    text-transform:none;
    margin-bottom:10px;
    padding-bottom:2px;
    border-bottom:1px solid #d4a43b;
    line-height:normal;
    box-sizing:border-box;
    box-bottom: 10px;
    margin-top: -10px;
}


/* Kotak gambar iklan */

.ads-box{
    width:100%;
    overflow:hidden;
    border-radius:15px;
}


/* Gambar iklan */

.ads-box img{
    width:100%;
    height:auto;
    max-width:100%;
    display:block;
    object-fit:contain;
    border-radius:10px;
}


/* Tulisan bawah iklan */

.ads-text{
    width:100%;
    margin-top:5px;
    text-align:center;
    font-size:11px;
    color:#666;
    line-height:normal;
    word-break:break-word;
}
/* =========================
   RUNNING TEXT VOUCHER
   ========================= */

.running-text{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    background:rgba(212,164,59,.15);
    border-radius:10px;
    padding:8px 0;
    margin:0 0 5px;
    box-sizing:border-box;
}


.running-text span{
    display:inline-block;
    color:#b88618;
    font-size:11px;
    font-weight:700;
    letter-spacing:.2px;
    text-shadow:0 1px 1px rgba(0,0,0,.15);
    padding-left:100%;
    animation:marquee 15s linear infinite;
}


@keyframes marquee{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}

}